*.swp
/..vimrc.un~
/bundle/deoplete.nvim/rplugin/python3/deoplete/__pycache__/__init__.cpython-35.pyc
/bundle/deoplete.nvim/rplugin/python3/deoplete/__pycache__/deoplete.cpython-35.pyc
/bundle/deoplete.nvim/rplugin/python3/deoplete/__pycache__/logger.cpython-35.pyc
/bundle/deoplete.nvim/rplugin/python3/deoplete/__pycache__/util.cpython-35.pyc
/bundle/deoplete.nvim/rplugin/python3/deoplete/filter/__pycache__/base.cpython-35.pyc
/bundle/deoplete.nvim/rplugin/python3/deoplete/filter/__pycache__/converter_auto_delimiter.cpython-35.pyc
/bundle/deoplete.nvim/rplugin/python3/deoplete/filter/__pycache__/converter_auto_paren.cpython-35.pyc
/bundle/deoplete.nvim/rplugin/python3/deoplete/filter/__pycache__/converter_remove_overlap.cpython-35.pyc
/bundle/deoplete.nvim/rplugin/python3/deoplete/filter/__pycache__/converter_remove_paren.cpython-35.pyc
/bundle/deoplete.nvim/rplugin/python3/deoplete/filter/__pycache__/converter_truncate_abbr.cpython-35.pyc
/bundle/deoplete.nvim/rplugin/python3/deoplete/filter/__pycache__/converter_truncate_menu.cpython-35.pyc
/bundle/deoplete.nvim/rplugin/python3/deoplete/filter/__pycache__/matcher_full_fuzzy.cpython-35.pyc
/bundle/deoplete.nvim/rplugin/python3/deoplete/filter/__pycache__/matcher_fuzzy.cpython-35.pyc
/bundle/deoplete.nvim/rplugin/python3/deoplete/filter/__pycache__/matcher_head.cpython-35.pyc
/bundle/deoplete.nvim/rplugin/python3/deoplete/filter/__pycache__/matcher_length.cpython-35.pyc
/bundle/deoplete.nvim/rplugin/python3/deoplete/filter/__pycache__/sorter_rank.cpython-35.pyc
/bundle/deoplete.nvim/rplugin/python3/deoplete/filter/__pycache__/sorter_word.cpython-35.pyc
/bundle/deoplete.nvim/rplugin/python3/deoplete/source/__pycache__/base.cpython-35.pyc
/bundle/deoplete.nvim/rplugin/python3/deoplete/source/__pycache__/buffer.cpython-35.pyc
/bundle/deoplete.nvim/rplugin/python3/deoplete/source/__pycache__/dictionary.cpython-35.pyc
/bundle/deoplete.nvim/rplugin/python3/deoplete/source/__pycache__/file.cpython-35.pyc
/bundle/deoplete.nvim/rplugin/python3/deoplete/source/__pycache__/member.cpython-35.pyc
/bundle/deoplete.nvim/rplugin/python3/deoplete/source/__pycache__/omni.cpython-35.pyc
/bundle/deoplete.nvim/rplugin/python3/deoplete/source/__pycache__/tag.cpython-35.pyc
/bundle/jedi-vim/__pycache__/jedi_vim.cpython-35.pyc
/bundle/vim-racer/rplugin/python3/deoplete/sources/__pycache__/racer.cpython-35.pyc
/spell/en.utf-8.spl
/spell/en.utf-8.sug
/plugin/.Execute.un~
/bundle/jedi-vim/__pycache__/jedi_vim.cpython-34.pyc
/bundle/deoplete-jedi/rplugin/python3/deoplete/sources/__pycache__/deoplete_jedi.cpython-34.pyc
/bundle/deoplete-jedi/rplugin/python3/deoplete/sources/deoplete_jedi/__pycache__/__init__.cpython-34.pyc
/bundle/deoplete-jedi/rplugin/python3/deoplete/sources/deoplete_jedi/__pycache__/cache.cpython-34.pyc
/bundle/deoplete-jedi/rplugin/python3/deoplete/sources/deoplete_jedi/__pycache__/profiler.cpython-34.pyc
/bundle/deoplete-jedi/rplugin/python3/deoplete/sources/deoplete_jedi/__pycache__/server.cpython-34.pyc
/bundle/deoplete-jedi/rplugin/python3/deoplete/sources/deoplete_jedi/__pycache__/utils.cpython-34.pyc
/bundle/deoplete-jedi/rplugin/python3/deoplete/sources/deoplete_jedi/__pycache__/worker.cpython-34.pyc
/bundle/deoplete-jedi/rplugin/python3/deoplete/sources/deoplete_jedi/__pycache__/__init__.cpython-35.pyc
/bundle/deoplete-jedi/rplugin/python3/deoplete/sources/deoplete_jedi/__pycache__/utils.cpython-35.pyc
/bundle/deoplete-jedi/rplugin/python3/deoplete/sources/__pycache__/deoplete_jedi.cpython-35.pyc
/bundle/deoplete-jedi/rplugin/python3/deoplete/sources/deoplete_jedi/__pycache__/cache.cpython-35.pyc
/bundle/deoplete-jedi/rplugin/python3/deoplete/sources/deoplete_jedi/__pycache__/profiler.cpython-35.pyc
/bundle/deoplete-jedi/rplugin/python3/deoplete/sources/deoplete_jedi/__pycache__/server.cpython-35.pyc
/bundle/deoplete-jedi/rplugin/python3/deoplete/sources/deoplete_jedi/__pycache__/worker.cpython-35.pyc
